[2015-07-07 12:42] sdellis opened #2 "Get 2016.code4lib.org public"
Look into GitHub Project Pages for this.

[2015-07-07 12:51] sdellis opened #3 "Stub/Mock Schedule Pages"
Stub/Mock out Schedule pages with a TBA fallback page we can use until sched is announced.

Here are some [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#Schedule).

[2015-07-07 12:55] sdellis opened #4 "Add Attend Page"
Here are [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#Attend)!

[2015-07-07 12:57] sdellis opened #5 "Stub/Mock Speaker Pages"
Here are [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#Speakers)!

[2015-07-07 12:58] sdellis opened #6 "Add Scholarship Page"
Here are [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#Scholarships)!

[2015-07-07 13:01] sdellis opened #7 "Add Sponsors page"
The Sponsorship committee will mostly handle this content.  See [2014 prospectus](http://code4lib.org/files/Code4LibProspectus.pdf) for ideas.

[2015-07-07 13:02] sdellis opened #8 "Add Code of Conduct page"
Here are some [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#Conduct)!

[2015-07-07 13:03] sdellis opened #9 "Add Venue Page"
Here are some [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#Venue)!

[2015-07-07 13:05] sdellis opened #10 "Add About Page"
Here are [content ideas](http://wiki.code4lib.org/Conference_Site_Pages#About)!

[2015-07-07 13:44] cdmo commented on #9
I just saw this after writing the email out to the Google Group.  Is that link for content ideas all the content we have?

[2015-07-07 16:00] sdellis commented on #9
Yes, except that it's almost certain that we will be getting the [Sheraton Society Hill](http://www.sheratonphiladelphiasocietyhill.com/) for March 7-10.  If you have ideas I would say run with them, or bounce them off the group!  I will see what else I can gather for you at the LPC meeting today.

[2015-07-07 17:42] starsplatter commented on #8
I'll take this but I don't seem to be able to assign it to myself.

[2015-07-07 17:42] starsplatter commented on #4
I'll take this but can't assign it myself.

[2015-07-07 18:10] sdellis commented on #8
I forgot to add the repo to our team.  You should be able to self-assign issues now!

[2015-07-07 21:17] starsplatter opened #12 "Create templates"

[2015-07-07 21:26] queryluke commented on #3
Yep, I'm taking this. Just assign it my way

[2015-07-07 21:27] queryluke commented on #3
Thoughts on using a timeline! Two examples:
http://codyhouse.co/demo/vertical-timeline/index.html
https://technotarek.com/timeliner/timeliner.html

[2015-07-07 21:28] queryluke commented on #12
I'll give this a shot

[2015-07-07 22:27] queryluke commented on #12
Ok, I've kinda got this working on my clone, but the prototype directory has it's own jekyll config file. So when testing this locally, ruby balked at installing jekyll. I had to remove the prototype/docs directory

The other odditiy is that running jekyll creates a new directory _sites which is just a copy of all the files...this is nowhere in the github docs. So, next steps (unless anyone else h

[2015-07-08 00:51] queryluke commented on #12
Okay, mostly figured this out. It is possible to have jekyll run on the master branch, but takes some additional configuring. Considering the Github docs don't mention then, my 2cents is that we follow their workflow.

Their workflow is that we continue to commit to the master branch, but to see the changes we'll need to merge the master and gh-pages.

Additionally (another wrench in the system) f

[2015-07-08 03:07] jtidal commented on #3
I like the responsive vertical-timeline!

[2015-07-08 13:59] sdellis commented on #12
Ok, so this is actually the direction we would need to head anyway since in order to host a GitHub Pages "Project site" (issue #2), we will need to have a gh-pages branch.

I like the simplicity of Paul Irish's approach in [this article](http://oli.jp/2011/github-pages-workflow/), which is essentially using a post-commit web hook to automatically merge all commits to the master branch to gh-pages.

[2015-07-08 15:30] sshealy opened #13 "Add/Stub Social Activities page"
I'm going to go ahead and take this one - unless the majority of people think this isn't needed.

[2015-07-08 15:31] sshealy commented on #3
I second the responsive vertical timeline.

[2015-07-08 16:18] queryluke commented on #12
using the post-commit is slightly over my git knowledge, but seems straight forward. So if someone wants to set that up, feel free. The other option is just merging manually, which isn't ideal.

In terms of the next steps for using gh-pages and developing locally:

## Changes for the repo

**[EDIT]**
1. Merge issue#3 with master and gh-pages (fyi it will remove the prototype/docs directory)
2. Tes

[2015-07-08 16:58] starsplatter commented on #3
Very nice!

[2015-07-08 17:01] starsplatter commented on #12
I'm interested in learning about the post-commit so I'll make an issue and assign it to me unless someone else would like it. It sounds like you can keep moving forward on the rest of the template work without it until I figure it out?

[2015-07-08 17:02] starsplatter opened #14 "Try using the post-commit hook"
See: http://oli.jp/2011/github-pages-workflow/

[2015-07-08 23:34] phette23 commented on #3
:+1:  to the vertical timeline as well

[2015-07-09 01:27] queryluke commented on #12
I've been experimenting with templates. For speakers and schedule, I think we can store the data in .yml files. See my issue#3 branch. _data has event.yml + people.yml which jekyll can access.

Anyway. For you all, just keep stubbing/creating pages in pure html/css. When we have something we like, i'll covert the files to jekyll friendly formats.

[2015-07-09 13:11] sdellis commented on #14
It should be as simple as adding a `.git/hooks/post-commit` file with this in it:

[code]

@roastduckalamode do you have a Jekyll branch you can do a pull-request on so we can merge and try it out?

[2015-07-09 13:43] starsplatter commented on #14
tossing this back to @sdellis since he knows what's up and I'm getting bogged down!

[2015-07-09 13:49] queryluke commented on #14
@sdellis Yes, I've created a pull request for issue#3. This one is jekyll ready

[2015-07-09 15:25] queryluke commented on #14
Doesn't look like the post-commit hook worked. Master was updated but gh-pages was not.

[2015-07-14 16:36] sdellis commented on #12
@roastduckalamode Sorry, I was moving over the past few days and also had a few work emergencies... I tested everything out and it works great, except the image is not bleeding to the edge anymore.  Was that intentional?  I'm going to move your Jekyll setup instructions into a wiki page to get it out of this issue.  Cool?

[2015-07-14 18:37] jtidal commented on #5
Added a speakers page. Going to add more content later this week.

[2015-07-14 19:04] queryluke commented on #12
@sdellis That was not intentional. Is it something in my timeline-style.css file? If you see the issue feel free to correct yourself, or just let me know what I need to fix.

Jekyll setup on the wiki page is fine with me, and they can email me directly with any questions.

[2015-07-14 19:11] queryluke commented on #3
Gah! I'll get the image references fixed tonight and finish stubbing out all the schedule pages in the issue#3.1 branch

[2015-07-14 19:44] sdellis commented on #12
@roastduckalamode Ok, yes I discovered the problem and was able to correct it by adding a "class" variable at the top of each page.  This would add a class to the section (if the variable exists) allowing one to add custom padding to each page.  If no class variable is added it will just bleed to the edges like the home page.  This may not be a permanent solution, but it should work fine for now.

[2015-07-14 19:44] #12 closed

[2015-07-14 19:46] sdellis opened #18 "Schedule page images are missing"
Absolute paths should be made relevant... won't matter when we go to 2016.code4lib.org but right now it's breaking with this url: http://code4lib.github.io/2016.code4lib.org/schedule.html

[2015-07-14 20:23] queryluke commented on #18
Looking into other options now

[2015-07-14 21:21] queryluke commented on #18
Edit: So in my issue#3.1 branch I started turning the presentations into _posts. Rather than keep them in a _data file. The benefit is that it would allow for additional contributes to create content in a standardized format. But it's not required.

Either way, the problem with using _posts/\* content is the relative urls, event with the DNS update we'd run into the same issue. I have seen some wo

[2015-07-14 22:27] queryluke commented on #18
@sdellis, issue#18 is in place. If you want to set up a time to pull into the master/gh-pages branch for testing/debugging, let me know.

[2015-07-27 14:12] jtidal commented on #5
I tried adding modals for the speaker bio and presentations. However, the modal goes "dark" along with the background when clicked. I think I narrowed it down to the modified bootstrap .css file, but I'm unsure of which class is causing the problem. Could anyone else take a look?

[2015-07-30 01:50] cdmo opened #23 "{{ site.data.path }} and local development"
This variable `{{ site.data.path }}` outputs `/2016.code4lib.org/`.  So

`<link rel="stylesheet" href="{{ site.data.path }}prototype/bootstrap/dist/css/bootstrap.css">`

produces:

`<link rel="stylesheet" href="/2016.code4lib.org/prototype/bootstrap/dist/css/bootstrap.css">`

Which, of course, doesn't load anything and the page just loads HTML.  All of the links in header and footer break locally

[2015-07-30 15:24] queryluke commented on #23
If you're working locally, you need to change _data/path.yml to "/", then it will put out

`href="/prototype/..."`

[2015-07-30 19:25] cdmo commented on #23
Okie doke

[2015-07-30 19:25] #23 closed

[2015-08-11 18:25] sdellis opened #24 "Add CSS-based speech bubbles to testimonials on homepage"
Currently is an image.

[2015-08-11 18:56] sdellis opened #25 "Speaker2.html page incomplete"
@jtidal  I see where you are going with the speaker2.html page, but it's very rough around the edges... the title bar says "Start Bootstrap" to start.  If you are going for a "non-stripey" simple white page, you can use the existing template and jekyll includes.  I merged it, but please fix and resubmit.

[2015-08-11 20:29] jtidal commented on #25
Oh sorry, that's a test file that should be removed.

I was testing the modals against the css file in the repo, which is causing the background and foreground to darken. The correct file to use is speakers.html.

---

Reply to this email directly or view it on GitHub:
https://github.com/code4lib/2016.code4lib.org/issues/25

[2015-08-11 21:09] sdellis commented on #25
Ok, well, it looks like speakers.html was deleted.  I'm going to revert this back.

[2015-08-11 21:17] sdellis commented on #25
Also, make sure to use a .yml file for speaker data if you weren't already going there.  It will make things easier to export/import into the site.  Closing this out.

[2015-08-11 21:17] #25 closed

[2015-08-12 00:58] sdellis commented on #18
@roastduckalamode Thanks for all your great work on this!  So, issue #18 pull request was merged a couple of weeks ago.  I'm having problems merging the issue #3.1.  I'm having a bit of a hard time determining what exactly is in 3.1 (in addition to the relative path work) and whether you can help me merge the additional work?  In short, can we close this issue?

[2015-08-12 02:00] sdellis opened #29 "Header and Footer links should point to the correct pages"
Remove the "#" and replace with actual links.

[2015-08-12 02:28] queryluke commented on #18
@sdellis I merged 3.1 locally and synced it. #3.1 was just more stubbing of issue#3 (the schedule pages). So this can be closed out.

[2015-08-12 02:28] #18 closed

[2015-08-14 20:13] billmcmillin commented on #10
I can take this one.

[2015-08-14 22:06] sdellis commented on #10
:+1: Go for it!

[2015-08-16 21:03] phette23 commented on #29
For the "Conduct" footer link, do we just want to link to [the code](https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md) on GitHub or are we creating a new page for it? I'm a little hesitant to duplicate a living document like the code onto the site because then we might forget to migrate updates; on the other hand, linking out to a Markdown document on GitHub seems a

[2015-08-17 12:56] cdmo commented on #29
I say link to the github page.  It's written in markdown, but renders
fine.  Plus it lets people know a lot more information about the document
and gives the implication that they too can add/modify it.

On Sun, Aug 16, 2015 at 5:03 PM, Eric Phetteplace notifications@github.com
wrote:

[2015-08-17 16:56] starsplatter commented on #8
Linking to elsewhere.

[2015-08-17 16:56] #8 closed

[2015-08-18 22:55] queryluke commented on #3
I've finished the placeholder for the schedule until we actually get conference events to add. I'll take any critiques and update anything you all would like to see changed.

[2015-08-20 02:28] cdmo commented on #9
see 1f22b3b521f00ab

[2015-08-20 02:28] #9 closed

[2015-08-20 02:30] cdmo commented on #10
someone should probably add @billmcmillin to the code4lib group so that this issue can be assigned to him?

[2015-08-20 02:34] cdmo commented on #29
you know, I think I responded to quickly.  the conduct link is in the footer _and_ the header, and in general I don't like external links in main menus.  perhaps we should create a short page with a summary for the code of conduct and a link to the full repo?

I'd be happy to make that an issue, own it, and send in the pull request if that sounds cool?

[2015-08-20 11:57] starsplatter commented on #4
I still have this hanging out here, I've been busy. Is this page still needed?

[2015-08-20 15:34] queryluke commented on #4
@starsplatter I think so. But it can be short and sweet. Registration won't open until january ([see the LPC's docs](https://trello.com/b/rTeC8Bgx/master-planning-schedule)). So I'm thinking the page just needs to say something along the lines of "Registration and hotel info coming later this year..."

[2015-08-20 15:53] queryluke commented on #29
@cdmo I was looking through jekyll docs to see if there was anything native that's similar to file_get_contents. It would be nice to be able to just harvest this content. But it's a no-go without plugins. Additionally, this is a template, so we'd have to fill in the bottom section.

Jekyll supports markdown, so I say instead of a summery, just copy and paste the .md file. Maybe comment out the "If

[2015-08-20 16:17] cdmo commented on #29
@roastduckalamode yeah, I guess I'm not feeling passionately one way or the other.  Here's one way for the "Summary" approach:

"Code4Lib seeks to provide a welcoming, fun, and safe community and conference experience and ongoing community for everyone. We do not tolerate harassment in any form. Discriminatory language and imagery (including sexual) is not appropriate for any event venue, includin

[2015-08-24 17:54] sdellis commented on #29
Sorry, I was out all last week and completely unplugged.  Just catching up now.

There is one more option, and that would be to create a Jekyll site that would publish this as a simple HTML doc (with current contact as a yml datafile) and allow us to simply embed it in an iframe in the site.  We would need to make sure that changes to the policy resulted in generating a new gh-pages policy site.

[2015-08-24 17:57] sdellis commented on #10
He's been invited.  I will assign this to him when he joins.

[2015-08-24 18:44] queryluke commented on #29
IMHO
1. the CoC repo is a template file that gets updated in-between conferences.
2. People should know-about/agree-to the CoC when registering (so we need it finalized by then)
3. We shouldn't change the CoC between registration and the end of the conference. This just seems legally logical to me (but I'm not a lawyer)
4. Thus, a simple copy and paste of the markdown & merge the day before regist

[2015-08-24 19:05] cdmo commented on #29
Good points to think about the registrant and what they can/should expect.

[2015-08-24 19:30] sdellis commented on #29
Hmm... yeah, I don't think we have any policy on changing policies, but I
will bring it up in the LPC meeting tomorrow.  We are working on a "Refund
Policy" now, and should probably at the very least state whether policies
can change.

But I agree with going with Charlie's solution for now.

On Mon, Aug 24, 2015 at 3:05 PM, Charlie Morris notifications@github.com
wrote:

[2015-08-25 19:25] billmcmillin commented on #10
Page added and merged. I'll update it again when we have more specifics on venue and contact info.

[2015-08-25 19:25] #10 closed

[2015-08-26 14:08] #24 closed

[2015-08-31 20:05] #29 closed

[2015-08-31 20:23] sdellis opened #68 "Create the "4" main div overlay as a SVG graphic"
See the prototype:
http://code4lib.github.io/2016.code4lib.org/prototype/

(It's the blue transparent image that looks like a "4")

[2015-08-31 20:26] sdellis opened #69 "Mobile display cleanup"
Go through all pages and clean up oddities with mobile display.

[2015-08-31 20:28] sdellis opened #70 "Accessibility Audit"
Go through and make sure all functionality is available via keyboard, color contrast, alt tags, aria-stuff?

[2015-08-31 20:35] sdellis opened #71 "Generate speaker data file from Google Forms and/or Voting App"
Talk to @cbeer about how he wants the data for the die-bold-o-tron.

[2015-08-31 20:40] sdellis opened #72 "Add Hotel Info to Venue page"
Society Hill Sheraton - get pricing as well.

[2015-08-31 20:43] roastduckalamode opened #73 "Make banner images uniform"
Smaller images for speaker and about pages

[2015-08-31 20:44] cbeer commented on #71
Doesn't matter to me (anything is better than mediawiki..), just make it machine readable. Bonus points if the description is encoded with markdown.

[2015-08-31 20:47] sdellis opened #74 "About page should not have color striping"

[2015-08-31 20:51] #3 closed

[2015-08-31 20:51] #4 closed

[2015-08-31 20:51] #5 closed

[2015-08-31 20:51] #7 closed

[2015-08-31 21:00] sdellis commented on #71
Ok, we were planning on using a Google Form for people to propose talks, so we can definitely make it machine readable.  We may be able to generate markdown through some converter...

[2015-08-31 21:00] #71 closed

[2015-08-31 22:20] roastduckalamode opened #75 "Google Forms API harvester"
Create some form of parser to harvest presentation / presenter submissions

[2015-09-03 00:29] bibliotechy opened #77 "Targeted Sponsorship blurbs are hard to read"
When the targeted sponsorship section is viewed on a screen wide enough to have three columns, the blurbs of the sponsorship become difficult to read. Also, when I finish one, I sometimes have to scroll back up to read the text of the next one, which feels wonky.
<img width="1280" alt="screen shot 2015-09-02 at 8 26 59 pm" src="https://cloud.githubusercontent.com/assets/1128631/9647968/faeb270e-51

[2015-09-03 01:02] sdellis commented on #77
Yes, I was planning on revisiting that. I can give it a go, unless you've got a particular vision for it you want to contribute.

[2015-09-03 01:05] bibliotechy commented on #77
I'm looking at it right now, so I'll make a PR and we'll see how that goes?

[2015-09-03 01:39] sdellis commented on #77
Awesome! Thanks... I'm in the [gitter channel](https://gitter.im/C4L-PHL) if you have any questions about the build process.

[2015-09-03 17:37] bibliotechy commented on #69
I was just about to create new issues for a few specific mobile issues, but then saw this one. Should I mention them here in comments?

[2015-09-03 17:59] sdellis commented on #69
Please do, @bibliotechy!  I know that @roastduckalamode was planning on working on the testimonials, but was planning to do an audit too.  Any help you can provide would be welcome!

[2015-09-03 18:31] bibliotechy commented on #69
These are both seen on Chrome on Android.

The Logo covers the text on mobile.

![screenshot_2015-09-03-13-21-00](https://cloud.githubusercontent.com/assets/1128631/9666887/b9862232-5246-11e5-9346-dc125effcada.png)

The contact button hanging on the  side covers text on mobile.

![logo](https://cloud.githubusercontent.com/assets/1128631/9666894/beee5ec4-5246-11e5-9aa2-03053ba96333.png)

[2015-09-04 18:49] #73 closed

[2015-09-11 13:09] sdellis opened #86 "About.html "At a Glance" info is wrong..."
It's the 11th annual conference, not the 13th.

[2015-09-11 14:15] billmcmillin commented on #86
Just submitted pull request

[2015-09-11 16:26] sdellis commented on #86
:+1:

[2015-09-11 16:26] #86 closed

[2015-09-14 15:15] #72 closed

[2015-09-14 16:49] eshellman opened #94 "code4lib conf website should set a good example by using HTTPS"
after all https://code4lib.github.io/2016.code4lib.org/ serves just fine; the use of the custom url is a triumph of vanity over privacy and security.

[2015-09-14 17:43] bibliotechy commented on #94
Looks like it _IS_ possible to do [SSL on github pages with a custom domain](https://sheharyar.me/blog/free-ssl-for-github-pages-with-custom-domains/), but would require pointing the 2016.code4.org domain to a third party (cloudflare). Not sure how that is going to go down with the maintainers of the code4lib DNS.

[2015-09-14 18:30] bibliotechy commented on #77
Closed by https://github.com/code4lib/2016.code4lib.org/issues/78

[2015-09-14 18:30] bibliotechy commented on #77
Closed by https://github.com/code4lib/2016.code4lib.org/issues/78

[2015-09-14 18:30] #77 closed

[2015-09-14 18:44] sdellis commented on #94
Thank you for pointing this out @eshellman.  This is actually an issue for Code4Lib.org in general, and would be a problem even if we went with the old wiki-approach to conference website hosting.  However, since there is no issue queue for code4lib.org, we can leave this open here.  I agree that we should be using HTTPS, particularly on the Drupal and Wiki sites for which login info is transmitte

[2015-09-14 21:20] eshellman commented on #94
Sure, having raised the issue, I'll do what I can to help it along.

Surprised if Github can't support certificates on github.io. I have contacts at Girhub if we want to escalate.

Sent from Eric Hellman's iPhone
1-862-596-0116

[2015-09-14 23:02] eshellman commented on #94
I think the cloudflare route would be good to try, if for no other reason than it gives us experience that libraries may want to learn from.

[2015-09-15 01:39] sdellis opened #97 "Add link to wiki past conferences page on the About page"

[2015-09-15 01:42] sdellis opened #98 "Add a picture of the Society Hill Sheraton on the Venue page"
We can keep the image of Independence Hall on this page (things to do!), but I would start with an image of the Society Hill Sheraton so as to avoid confusion.

[2015-09-15 12:33] #74 closed

[2015-09-15 12:49] sdellis commented on #97
:+1:

[2015-09-15 12:49] #97 closed

[2015-09-15 17:18] bibliotechy opened #101 "Fix keynote voting dates"

[2015-09-15 17:22] sdellis commented on #101
http://2016.code4lib.org/schedule.html

Make it TBD for now...

[2015-09-17 20:41] #98 closed

[2015-09-17 22:29] sdellis opened #105 "Jekyll slow to compile site?"
Is anyone else having this problem?  It makes it hard to test people's changes when I have to wait nearly three minutes for it to generate...

[code]

[2015-09-18 17:36] queryluke commented on #105
Just tried some random changes, finished in .9, 1.3, and 0.3 sec

[2015-09-21 13:42] queryluke commented on #101
Fixed in voting-tbd branch

[2015-09-21 13:45] queryluke commented on #75
From my email to the working group. Here is a working model for using Google Forms for speaker / presentation submissions.

What I've thrown together:
There are 2 forms - [Speakers](http://goo.gl/forms/bPI8vEKHJb)  and  [Presentations](http://goo.gl/forms/1TdgDAL8oI)
Here are the responses: [SpeakerResponses](https://docs.google.com/spreadsheets/d/10LtYOayVMVRdvHyB-36R0srDVdyLcGteGHP_mz9igU4/edit?

[2015-09-21 13:46] queryluke commented on #75
Possibly use [tabletop.js](https://github.com/jsoma/tabletop) to harvest.

[2015-09-21 19:04] queryluke commented on #75
Thanks to @cdmo for finding
http://sheetsu.com/

Multiple options available.

[2015-09-23 17:50] #101 closed

[2015-09-23 17:52] roastduckalamode opened #109 "Contrast Issues"
From @jtidal
I ran the site through the WAVE accessibility tool, and there are several contrast errors: http://wave.webaim.org/report#/http%3A%2F%2F2016.code4lib.org%2F (click on contrast in the upper left hand corner)

[2015-09-23 17:53] queryluke commented on #2
It's public!

[2015-09-23 17:53] #2 closed

[2015-09-23 17:54] #69 closed

[2015-09-23 17:54] cdmo commented on #105
Yeah, same here, I'm seeing `0.565891 seconds` and the like... maybe your system is maxed out?

[2015-09-23 17:55] cdmo commented on #109
Just to officially log this comment from a code4lib community member: "the speech bubbles on the landing page for the Code4Lib website seem hard to read.  Maybe shifting the background color from #1fb7ef  to #1AA2D4 ?"

[2015-09-24 18:08] queryluke commented on #75
Fruitful beginnings @ http://roastduckalamode.github.io/fromSheetsToJekyll/

[2015-09-24 18:25] sdellis commented on #75
This is awesome. :100:

[2015-09-24 18:54] cdmo commented on #75
slow :clap:

[2015-09-30 19:29] hackartisan commented on #75
I think this approach is problematic for a person submitting a talk proposal (or, more importantly to me, a preconference workshop proposal). I don't think we should make those people fill out two different forms. I'd like to see the required data be generated from a single form that includes both talk / workshop info and contact info.

We plan to put out our call for preconference proposals this

[2015-09-30 19:55] sdellis commented on #75
@hackmastera The only problem with using a single form for submissions is that if there are any fields associated with the speaker, and they are submitting more than one talk, they will have to enter the same data multiple times.  And then if there's a typo, they will have to edit it in all of them.  Perhaps there are not enough multiple submitters to matter here?

We are collecting more data than

[2015-09-30 20:20] bibliotechy commented on #75
@hackmastera @sdellis Do we need to collect all of that data when the propose a talk? We'd be gathering info on lots of people whose info we won't need. Why not just send out a google form to the people who's talks / sessions have been selected when that time comes?

[2015-09-30 20:33] sdellis commented on #75
@bibliotechy++
Great idea.  Let's just collect a speaker's name and email when submitting Presentations.  We can use email as a "foreign key"; email will also have to be entered into the Speaker form, if they get selected.

[2015-09-30 20:43] sdellis commented on #6
The Sponsorship and LPC committees thought we should add the Scholarship Fund sponsors on this page as well.  Those who have contributed more than $1000 get logos, all other names are listed in descending order based on contribution amount.

@sshealy Do you have time to work on this?

[2015-09-30 21:21] hackartisan commented on #75
+1 was going to ask the same question; great solution!

[2015-10-01 10:58] queryluke commented on #75
@bibliotechy 's plan looks fine to me.

the person working on the form for proposals can contact me if they have any questions. The only feature they should include is the script that generates an automatic "edit response" url

[2015-10-01 15:27] dlacy commented on #75
I understand what you are attempting to do here, but there's something about the workflow that's bothersome to me. I think it's the timeline, 1) submit a proposal, 2) several months later submit a bio and link it to a proposal? Yeah, I'm not feeling this...

A point was made that the traditional procedure amounts to collecting biographical info about people who will not end up being part of the pr

[2015-10-01 15:51] queryluke commented on #75
@dlacy I think the workflow is:
1. Submit a proposal (with your name and email)
2. Several months later, when we are sending out "You've been selected!" notifications, we will include a link to a form with biographical inputs
The presenter won't need to make any proposal connections because we'll have that via their email (a "foreign key," as @sdellis suggested).

Does that help clarify?

However,

[2015-10-01 17:31] dlacy commented on #75
@roastduckalamode Thank you for the clarification, and I understand completely the desire to have this data controlled dynamically through google sheets.

So is this workflow solely intended to spare the user from filling out 2 different forms in a row? What if the submission instructions were written as a series of steps:

Step 1: Create a profile
Step 2: Enter a proposal and include the email ad

[2015-10-01 17:39] hackartisan commented on #75
@dlacy @roastduckalamode Seems like if the profile form exists, people could either fill it out at submission time or at acceptance time.

Do we need a central "submit a proposal" page on the site with links to these various google forms?

[2015-10-01 19:34] queryluke commented on #75
@dlacy @hackmastera  I'm fine with that approach. If you provide the links to the forms you want to use, I'll create a page on the website that outlines that workflow and links to them.

Additionally, if you look at the second page of [these docs](https://docs.google.com/document/d/1nUq-BVcxP9FtK8NzFDSp4s8gLLBC7Tj5GL-3_lqCM14/edit?usp=sharing), you could have the email input from step 2 as a selec

[2015-10-01 19:42] hackartisan commented on #75
Cool. I'd vote against the drop-down, since that makes things less flexible.

[2015-10-09 14:47] sdellis commented on #105
Ok, well, I'm actually getting a new laptop today and I will see if there's a difference.  However, I did notice that by removing the "prototype" directory, it finishes in around .5 secs.  This is a lot of the Bootstrap less stuff and the prototype pages, which at this point, we're not really using and could be removed.  However, I tried moving the bootstrap.css that it generates into /css and poi

[2015-10-15 13:22] sdellis opened #119 "Add Slack Sign-up link to the website"
Not sure exactly where it should go yet, but maybe in the "attend" section.  Anyway, here's the link:

https://docs.google.com/forms/d/120Dw1JjLxPJB9VTGl0mUY7Ot6yg6YNY1RZUISJFzdwk/viewform?c=0&w=1

[2015-10-16 01:25] bibliotechy opened #120 "Bump the price of the ally workshop."

[2015-10-16 01:25] bibliotechy opened #121 "Add page with call for preconference proposals"

[2015-10-16 12:34] #121 closed

[2015-10-16 12:34] #120 closed

[2015-10-16 15:10] hackmastera opened #124 "Add proposal form links to 'speakers' page"
Reasoning is that people may click 'speakers' to find out how to become one.

Downside is that these would then be in two places (currently on 'schedule' page).

[2015-10-26 13:52] sdellis commented on #124
@hackmastera ... I agree that the navigation is currently focused toward an "attendee" audience.  We could have the proposal submission in both places, or move it to Speakers.  Another possibility is to have an "Announcements" section on the home page, where the 1-3 most pressing announcements would go?  Any other ideas?

@roastduckalamode

[2015-10-26 22:47] queryluke commented on #124
@hackmastera @sdellis Personally, I like the announcements section, which would also be useful during the conference for any updates or notifications. If we make it now, users may get used to looking there for relevant info.

In addition to having an announcements section, we could create a single page with all of the pre-conference information. Then on the schedule and speaker pages just have a l

[2015-10-27 14:07] bibliotechy opened #128 "Submit a Talk / Workshop on listing pages"
@roastduckalamode @sdellis Someone just gave great feedback that that pages listing talks and workshops should have a link to submit a talk as well. Makes sense to me. Maybe at the top, just before the listing? A big ole button?

[2015-10-27 15:13] queryluke commented on #128
Button added.

[2015-10-27 15:13] #128 closed

[2015-10-27 16:55] #105 closed

[2015-10-27 16:57] #119 closed

[2015-10-27 20:09] hackartisan commented on #124
@sdellis thanks for adding the link! I like the idea of an announcements section, as well, although I worry that it would be far down enough on the front page to be overlooked? Anyway I am satisfied now :) Any further information re-architecture would probably worthwhile but not necessary! @roastduckalamode

[2015-10-27 23:07] queryluke commented on #124
@hackmastera I've got an idea for an announcements section, but I need to find the time to code it. I'm thinking of a simple css animation under the conference dates (upper-right) that rotates announcements. I think I'll have some time this weekend to experiment.
@sdellis

[2015-10-28 14:25] sdellis opened #131 "Proposed Workshops needs Length/Time of Day data"
This was omitted, but we need to display whether it's a half or full day and whether it's AM or PM.

[2015-10-28 16:59] queryluke commented on #131
Done :)

[2015-10-28 16:59] #131 closed

[2015-11-11 16:18] #124 closed

[2015-11-11 16:19] #75 closed

[2015-11-11 16:22] roastduckalamode opened #144 "Pinterest style porposal view"
I took a stab at this in the [pinterest-esque...](https://github.com/code4lib/2016.code4lib.org/tree/pinterest-esque-proposal-view) branch. If we like, I'll merge this with master.

Note there are 2 widths which you can view at /proposed-talks.html and proposed-talks-fluid.html

Feedback welcome!

[2015-11-11 16:24] roastduckalamode opened #145 "Refactor FromSheetsToJekyll to use tabletop.js"
Creating this so I don't forget

[2015-11-11 16:25] roastduckalamode opened #146 "Remove workshop proposal submission links on Nov 15"
I've preloaded a branch for this

[2015-11-11 16:41] dlacy commented on #146
Could you do the same for the Talk Proposal form link?

[2015-11-12 01:48] bibliotechy commented on #144
I prefer the wider fluid layout. In the non-fluid layout, I feel like the columns are too thin and it makes it a little hard to read. Either way, the boxes all need white background for legibility, because the text is kind of hard to read on the pink background.

Also, since all of this is going to get loaded into the voting machine for next week, not really sure why we'd switch this around at thi

[2015-11-12 11:43] queryluke commented on #144
@bibliotechy We got an email requesting a usability improvement to these pages.
`It's pretty nifty, but initially she didn't realize they were links to extracts and then when she hovered she thought they were links she could open in other tabs and tried, unsuccessfully. Would it be possible to add a downward/sideways triangle or chevron like many sites do to connote expanding? And possibly the tex

[2015-11-16 15:23] sdellis commented on #146
@roastduckalamode hey, can you update this?  I did make some changes to the Schedule page, but they can be overwritten by your branch.  Changes to other files should not be overwritten.  Thanks!

[2015-11-16 20:25] hackartisan commented on #146
y'all are tops.

[2015-11-16 20:32] hackmastera opened #159 "pre-conference content strategy?"
I'd like to hear more info about the vision for the 'schedule' page.

currently the two pre-conference-specific pages are http://2016.code4lib.org/propose-a-workshop.html and http://2016.code4lib.org/proposed-workshops.html neither of which is an appropriate url for finalized workshop info.

I guess we'll want a new page with the final workshops where we can post:
* schedule
* locations (both stre

[2015-11-16 20:33] hackmastera opened #160 "Pre-conference voting schedule"
Voting open on Nov 17th and close Dec 2nd 5pm Pacific. Not sure how this ties in with #146

[2015-11-16 20:52] sdellis commented on #159
We haven't talked about this extensively, but I was thinking the schedule page would change after voting is completed.  It would only be a schedule, similar to the [eduiconf schedule](http://eduiconf.org/schedule/).  However, I could see sessions color coded or have some icon, so that you knew what building/room they were in.  Clicking through would take you to a session/talk detail page which wou

[2015-11-16 22:20] queryluke commented on #159
Since I stubbed the schedule page, here is what I had planned:

When we have all the info, the schedule menu-nav with turn into a dropdown with Preconference, Day1, Day2, Day3 as choices.

Day 1-3 will use the timeline display that we're using for past keynotes, with an analog clockface in the blue dot on the left (but also the digital time in the panel), and click-through to the full abstract, sp

[2015-11-17 02:30] sdellis commented on #159
@roastduckalamode Yes, now I remember!  Very cool.  Dec 7th would be fine as registration is slotted to open Dec. 10th... and even if it's a little later, it's not the end of the world.  I think we're working out locations this and next week, but @hackmastera may have some rough notion of how many we would _like_.

[2015-11-17 15:55] hackmastera opened #162 "Link directly to individual workshop descriptions?"
Is there any easy way to add in anchors so that we can link directly to a single, expanded workshop description? The voting form doesn't allow us to make these expandable so we'd like to provide direct links instead to reduce visual clutter.

Currently our only option may be to copy everything back over to the wiki so we can link to the descriptions :(

[2015-11-17 15:56] hackartisan commented on #162
(just as background: we're using a google form for voting because the usual code4lib voting app doesn't work well for workshop selection (when a person will only attend a single workshop in each time slot)

[2015-11-17 16:42] queryluke commented on #162
@hackmastera can I see what the form looks like?

We can create static pages for each of the workshop proposals and you can link to the page. The problem is defining an ID. I've been removing special characters from the proposal timestamp, but if you're hard coding the links into the form, we'd have to figure out something else.

[2015-11-17 16:52] hackartisan commented on #162
The set is finite at this point; can we just use a variation of each title?

[2015-11-17 16:53] hackartisan commented on #162
Oh, the form is totally not finished yet. But we will basically publish it as soon as it is ready (i.e. some time today) so if there's no quick way to grab an anchor into the existing page, maybe it's not worth doing.

[2015-11-17 17:40] queryluke commented on #162
In the interest of time, I made a second page with anchor links. The anchor links use the full title with all special characters removed and spaces replaces by dashes. Here is the regex used if you're using Apps Script to create the form

`id = entry["Preconference Title"].replace(/[^\w\s\d]/gi, '');
    id = id.replace(/[\s]/gi, '-');`

the page is http://2016.code4lib.org/workshops

Let me know

[2015-11-17 17:45] hackartisan commented on #162
@roastduckalamode You are a hero!!

[2015-11-17 17:48] hackmastera opened #166 "Only first presenter shows for workshop descriptions"
People have therefore been hacking the form to put all the presenter names in the 'first presenter' field. Currently I don't really see a problem with this, but wanted to put it out there just in case.

[2015-11-17 17:53] hackartisan commented on #162
Wait I think maybe the anchor needs to be inside the div? the page is loading such that the heading is off-screen for me.

[2015-11-17 18:14] queryluke commented on #162
My bad! I was using the cssID twice. I'm pushing now, may take a few minutes for the site to re-compile

[2015-11-17 18:39] #146 closed

[2015-11-17 18:39] #144 closed

[2015-11-17 19:11] hackartisan commented on #162
Works great. Thank you!!

[2015-11-17 19:11] #162 closed

[2015-11-17 19:59] sdellis commented on #166
I didn't realize that we were only showing a single presenter. At any rate, this should probably be cleaned up in the spreadsheet (after voting?) as it's going to affect our ability to use the "two table" method of presenting speakers and talks/workshops.  We were going to ask speakers to add their bio info after voting, right?

[2015-11-17 20:06] hackartisan commented on #166
Yes, we're planning to send a new form with all the 'profile' info y'all wanted along with our confirmation emails. That should match on email, right?

I'm actually looking at the submissions now and not seeing any instances of this hacking that was reported :) Regardless, we will want to display all presenters along with each workshop. I assume that's part of the data crosswalking script? Don't k

[2015-11-17 20:54] sdellis commented on #166
Ah, ok, so we don't have to do any cleanup after all!  We just need to make sure the profiles for each talk are submitted to the same talk id.  It may make sense to send your form to @roastduckalamode or me to test before sending to the selected workshops? Same with the program committee.

[2015-11-17 21:00] hackartisan commented on #166
Well, we need to do 2 things:
1. Display all the presenter names on the site
2. Link workshops&talks to profiles by email. Bi-directional linking may be an issue?

We'll be working from the 'speakers' form in https://github.com/code4lib/2016.code4lib.org/issues/75#issuecomment-141982890

[2015-11-17 21:35] hackartisan commented on #166
I see, using the talk ID would be a way around the bidirectional linking problem. But the same person may (and likely will) be giving multiple talks or workshops. I think that's why we were going to use email.

[2015-11-17 21:51] queryluke commented on #166
It looks like the "hacks" were on the proposed **talks** form because that one didn't have additional slots co-speakers. It's not a huge deal, but will require some additional data entry on their part to split those into separate columns and get emails for the other speakers. Or, just open up the Google Sheet when voting is over and let the speakers enter their own data. Live and Learn!

@hackmast

[2015-11-30 02:39] hackartisan commented on #75
@roastduckalamode I assume, from the info you are collecting on the speaker form, that everything except the email address will be published on the site. Can you confirm or correct me?

[2015-11-30 15:59] queryluke commented on #75
There hasn't been an official discussion about what information to collect about speakers. At minimum, name and short bio. I think pictures would be nice. But the picture would need to be hosted elsewhere. Institutional Affiliation makes sense as well. If they leave anything blank, it won't show up.

@sdellis, what do you think?

[2015-11-30 17:39] queryluke commented on #159
@sdellis @hackmastera
I've stubbed a sample of how final workshops will look. Pull issue-159 to your local repo to view. I've used [fromSheetsToJekyll](http://roastduckalamode.github.io/fromSheetsToJekyll/) to do most of the heavy lifting in terms of "data entry". Here is the [documentation](https://docs.google.com/document/d/1LvQ4KWqNaj4NjScFAsdQsQ_OtgRWric7M8dAq6RIXdo/edit?usp=sharing).

Once lo

[2015-12-01 15:24] hackartisan commented on #159
@roastduckalamode I haven't had a chance to look at this yet but hope to soon. I wanted to ask, though, whether email addresses will be published or kept confidential? If they'll be published we'll have to make them optional to provide.

[2015-12-01 18:31] queryluke commented on #159
@hackmastera  We can leave them private. But if we're using them as a key, they would be accessible in the repo's data files.

[2015-12-01 19:29] hackartisan commented on #159
Hm. :( I'm not crazy about that. But I can't think of another way of matching presentations / presenters.

[2015-12-01 20:48] sdellis commented on #159
Looks good to me, @roastduckalamode.  How about twitter handle as the key?  Most speakers post those anyway for questions.

[2015-12-01 20:57] phette23 commented on #159
It seems a bit iffy to assume all presenters will have a Twitter handle, much as I like that idea.

[2015-12-01 21:04] sdellis commented on #159
What better time to create one! Seriously, let's not overthink this. If
you're going to be speaking there needs to be a way for people to contact
you to ask follow up questions, or to sing your praise. Twitter seems like
the least common denominator to me, but open to other suggestions.

On Tue, Dec 1, 2015 at 3:57 PM, Eric Phetteplace notifications@github.com
wrote:

[2015-12-01 21:25] queryluke commented on #159
@sdellis We don't have their twitter handle stored in the original, workshop proposal from. We need a value in that form to associate with the speaker form.

If people are that sensitive about their emails, I can see 2 other options:
1. manually entering an ID in the speaker form and workshop proposal form once all speaker info has been collected.
2. trying to use name and manually checking / edit

[2015-12-01 23:10] sdellis commented on #159
Gotcha.  For the record, I am not sensitive about emails and I don't see a
problem with it.  And remember, we are talking about a non-displayed
field.  There is a long history of people posting them all over the wiki as
a means of contact.

On Tue, Dec 1, 2015 at 4:25 PM, Luke Aeschleman notifications@github.com
wrote:

[2015-12-02 14:57] hackmastera opened #181 "preconf voting closes at 5pm pacific today"
We should shut down the link at that point!

[2015-12-02 14:59] hackartisan commented on #181
Sorry, 5pm Pacific

[2015-12-02 16:51] hackmastera opened #182 "Change childcare info to indicate there will be a form separate from registration form"
This TODO taken from LPC email thread 'followups from yesterday' Nov 30.

[2015-12-02 19:05] hackartisan commented on #159
I think a lot of people are sensitive about emails. Often people post them on the wiki in an obfuscated style (i.e. symbols become words). That's not very useful in use as a key.

I think if we're going to collect emails with the intent to publish them (either incidentally in the github repo or directly on the site) then people should be allowed to opt out.

@roastduckalamode thank you for your fl

[2015-12-02 19:15] hackartisan commented on #159
@roastduckalamode i looked at branch issue-159 and it looks great.

We will plan to provide locations in the format your documentation indicates. We have time to coordinate all these pieces; the main thing we are in a hurry on is how we collect presenter data, since as I already noted we're about to send out that form.

[2015-12-02 20:53] queryluke commented on #159
@hackmastera Either way works. I see more flexibility in providing the opt-out option. If no one opts out, we're set. If people opt-out, we'll find a work around. Additionally, if we allow people to opt-out we can publish the emails of those who opt-in on the speakers pages.

But if you think it safer to simple say "we won't publish your email", then I'm fine with that as well.

[2015-12-03 00:59] queryluke commented on #181
done

[2015-12-03 00:59] #181 closed

[2015-12-03 01:00] queryluke commented on #145
done

[2015-12-03 01:00] #145 closed

[2015-12-03 01:25] sdellis commented on #159
I pulled issue-159, but I don't know where the workshop mockup is. I would
have thought it would be in the schedule section.

Do we want to collect twitter handles as well?  This way, if they opt out
of email, we have a unique key for them that we can map to their email
address in the other table? I think most people would prefer twitter
handles on the speakers pages to email.

On Wed, Dec 2, 2015

[2015-12-03 13:01] queryluke commented on #159
@sdellis the stub replaces workshops.html

@hackmastera said they were using my mock form from #75 , so I think they're plan to collect handles as well.

[2015-12-04 20:37] sdellis commented on #159
This looks great, Luke. Thanks.  I fixed a margin/padding issue and made
the cards display in a flexbox layout.  There is a lot more we could do in
the way of UI improvements, but you've done so much already and it's a
matter of priorities or shared labor... speaking of which, where did the
rest of our web committee go? :-/

Anywho, kudos! Let's run with it! :)

On Thu, Dec 3, 2015 at 8:01 AM, Luk

[2015-12-04 20:50] hackartisan commented on #159
@roastduckalamode will this change the urls that look like: http://2016.code4lib.org/workshops#Publishing-Research-Data-with-R-Knitr-and-Shiny
?

Because I'm about to add them all into the registration form.

[2015-12-04 20:52] cmh2166 opened #185 "Embed t-shirt voting form in 2016 Conference website?"
Hey all-

Do you want to embed the 2016 Tshirt voting form (built with form+, an extension of Google Forms that allows users to upload files) into the Code4Lib site? Otherwise we will send out the direct link to the form+ form. See a sample form here: http://goo.gl/Rk6rtG

The form results go into a Google sheet, which I will share with the appropriate folks if you want to display received submiss

[2015-12-04 21:10] bibliotechy commented on #185
Personally don't care either way about embedding the form into the website. We'v been linking to all the others which seems fine enough.

Submissions appearing on the website sounds like a great idea. Share and we'll get to it.

[2015-12-04 21:12] cmharlow commented on #185
Thanks @bibliotechy - will use a bit.ly to the form+ form for the email call (which will go out Monday AM).

I'll share the submissions responses folder (including spreadsheet and folder with images) to you web folks. Its currently in the Code4Lib Tshirts Google Folder, which you guys may already have access to.

Thanks,
christina

[2015-12-04 21:18] bibliotechy commented on #185
:+1:

[2015-12-05 12:01] queryluke commented on #159
The urls would change to http://2016.code4lib.org/workshops/[workshoptitle]. This is the full preconference "post". Which will contain the abstract, speaker name, location, time o day, etc.

The title should be the same because I used the same regex script to parse out non-alphanum chars. So, tl;dr,  switch the `#` to a `/`

[2015-12-05 16:37] billmcmillin commented on #182
I can take this one. I'm not on the LPC list. Is there anything we need to say other than "there will be a form separate from the registration form"? Any additional info on when/where the form will be available?

[2015-12-05 18:16] hackartisan commented on #159
@roastduckalamode then I think we should either deploy the individual pages this weekend or leave the current page in place until registration closes. let me know which you prefer! Thanks.

[2015-12-05 18:52] queryluke commented on #159
@hackmastera If we deploy this weekend, I can make the location TBD. And I'll figure something out for the speaker data, since we don't have the official information yet.

But I need the finalized list of selected preconference workshops with their lengths (am, pm, full day). Has that all been figured out?

[2015-12-05 19:31] hackartisan commented on #159
@roastduckalamode Hm, we are waiting for confirmations. The confirmation deadline is Monday.

Maybe we could deploy on Tuesday? Registration will open on Thursday so that would give us a minute to test the links and tweak any problems.

[2015-12-05 19:45] queryluke commented on #159
@hackmastera works for me. Once we have a finalized spreadsheet it will only take about 5 minutes to compile and upload the files.

[2015-12-05 19:54] hackartisan commented on #159
@roastduckalamode Remind me which spreadsheet you've been using for your work so far? We have a number of them :)

[2015-12-05 21:00] queryluke commented on #159
@hackmastera For [issue-159](https://github.com/code4lib/2016.code4lib.org/tree/issue-159) I used a copy of the preconference proposal responses sheet. I think the title of the sheet is _Code4Lib 2016  (Responses)_. Here is [my copy](https://docs.google.com/spreadsheets/d/1W87SnH9R8rCADygAKwVGTE5fvoWLac0IEAn8l40p34s/edit?usp=sharing), which has length and fake location added.

But fromSheetsToJeky

[2015-12-07 14:28] bibliotechy commented on #182
@billmcmillin Sorry for the delay in responding. I don't yet have the details available, but I will get them tomorrow. For now, just indicate that there will be a separate form and details TBD. Thanks

[2015-12-07 20:04] jtidal commented on #70
I was looking over the Issues for UX/CSS problems, and totally forgot about this audit.

I completed it using the WAVE tool - https://docs.google.com/document/d/1nB9KOtenrbhfdnaBKsk7zlzx1sWuLKNJJYQlvx4ew9k/edit?usp=sharing

[2015-12-07 20:06] hackartisan commented on #159
note we'll probably want 2 location fields: building and room.

[2015-12-07 20:39] queryluke commented on #159
Yep. Anna has been in touch. Displaying the building and room is no prob. But do we need to filter by room on the workshops page? Or will building be sufficient?

[2015-12-07 21:38] sdellis commented on #70
Thanks, @jtidal ... so mainly contrast issues.  Do you want to checkout a new branch for this issue and take a stab at addressing these WAVE suggestions?

The colored backgrounds were originally supposed to be minimally used for sections that required some "standout" quality.  I'm fine with mostly using the light pink or white as a background for the main body text.

[2015-12-07 21:46] jtidal commented on #70
Sure, I'll give it a shot. They can probably be fixed with a few CSS updates.

[2015-12-07 21:49] sdellis commented on #70
Yep. Hit me up if you have any questions.

On Mon, Dec 7, 2015 at 4:46 PM, Junior Tidal notifications@github.com
wrote:

[2015-12-08 23:24] roastduckalamode opened #191 "Logo pull requests"
There a 2 pull requests (#179 & #163), each with some new logos. Do these need to be merged and logos put somewhere?

[2015-12-08 23:31] queryluke commented on #166
I've updated fromSheetsToJekyll, there are multiple options when creating a yaml data file or template (aka post)
1. You can slugify the value (useful to normalize the data. Strips out non-alphanumeric chars and replaces with dashes)
2. You can "hash" the value. It's not a true hash, but it creates a unique key. So we can hash the speaker emails as the primary key.

[2015-12-08 23:31] #166 closed

[2015-12-08 23:33] #160 closed

[2015-12-08 23:34] queryluke commented on #159
I've published the workshops. For documentation's sake here is the list of workshop urls:

http://2016.code4lib.org/workshops/lodashjs-API-tour
http://2016.code4lib.org/workshops/User-Experience-for-Libraries--Collections
http://2016.code4lib.org/workshops/The-Getting-Ready-for-Workshops-Workshop
http://2016.code4lib.org/workshops/Semantic-Search-for-The-CoderLibrarian
http://2016.code4lib.org/wor

[2015-12-08 23:35] #159 closed

[2015-12-08 23:36] queryluke commented on #14
going to close this as using the gui is working just fine

[2015-12-08 23:36] #14 closed

[2015-12-09 01:58] sdellis commented on #191
I will merge them now.  The logos will need to get integrated into the sponsors page soon.

[2015-12-09 01:58] #191 closed

[2015-12-09 02:00] #6 closed

[2015-12-09 02:00] sdellis commented on #68
Not going to happen.

[2015-12-09 02:00] #68 closed

[2015-12-09 02:03] sdellis opened #195 "Prepare an open-registration branch for Dec. 10th"
This needs large "Register Now" buttons on both the home page and attend.html page, above the fold.

[2015-12-09 02:12] sdellis opened #196 "Publish the Voting results for Talk Proposals"
Use SheetsToJekyll to list voting results, similar to the [workshops page](http://2016.code4lib.org/workshops/).

[2015-12-09 02:37] #185 closed

[2015-12-09 02:38] #182 closed

[2015-12-09 02:40] bibliotechy opened #198 "Pull in submissions for t-shirt contest"
Display t-shirt contest submissions on a web page

[2015-12-09 03:06] sdellis commented on #196
@roastduckalamode I'm trying to create a YAML file from a Sheetsu API that I made (https://sheetsu.com/apis/922efaf4).  It doesn't seem to be working.  Is [this site](http://roastduckalamode.github.io/fromSheetsToJekyll/) still legit or is there somewhere else I should go to do this?

[2015-12-09 13:26] queryluke commented on #196
@sdellis I scrubbed Sheetsu for tabletop.js. So you'll need to publish the sheet to the web and use the public url instead. At some point in the future, I plan to make fromSheetstoJekyll work with sheetsu as well

I should probably change the label of the first input...whoops!

[2015-12-09 13:43] queryluke commented on #196
@sdellis also, If you want an individual page for each talk (similar to the workshops pages), you'd use the templates method. It will create zip of html files that you can c/p into the _posts directory.

But if this is just information about the voting (i.e. you're just making a list of titles and vote counts without additional information like time, slides, etc), then the data file will suffice.

[2015-12-09 13:55] roastduckalamode opened #199 "Speaker information form"
@hackmastera and I discussed the process of gathering information about speakers. She suggested that the website working group create the form and disseminate it to the Pre-conference and Program committees to ensure that the form be unified across both. I'm happy to spin up a form, but need to know what data we want to collect about the speakers.

In our stub, we have
- name
- affiliation
- email

[2015-12-09 15:06] sdellis commented on #196
I have set the settings to "anyone with a link" can view and paste the url into the field, but the "Check" button is still not working. Does it need to be completely Public?

[2015-12-09 15:17] sdellis commented on #196
@roastduckalamode Could certainly use your help here since we are planning on sending out a reminder at some point today with links to the Workshops and Talk results.

[2015-12-09 15:23] queryluke commented on #196
@sdellis yeah, you have to actually publish the sheet to the web. Then use the public url. But you can unpublish right after. Or send me the sheet link and I can help out.

[2015-12-09 15:29] bibliotechy opened #202 "Workshop listings look odd on Firefox on Linux"
On Firefox 42 on Ubuntu Desktop, the workshop layout looks like this.
![wideworkshop](https://cloud.githubusercontent.com/assets/1128631/11689370/9accb094-9e5f-11e5-999e-2487a31fad89.png)

I'm poking around, but if you have any ideas @roastduckalamode please point me at them.

[2015-12-09 15:36] queryluke commented on #202
Happening on my Firefox as well. Looks like the culprit is display:flex in the .sequence class. @sdellis, did you make the change to flex instead of bootstraps built in grids? Another option is loose the 3 column layout altogether and have 1 workshop per row. Just makes for a longer page.

[2015-12-09 16:01] queryluke commented on #196
@sdellis also, here is the [sheetsu flavored version](http://roastduckalamode.github.io/fromSheetsToJekyll/sheetsu.html)

[2015-12-09 16:19] queryluke commented on #202
@sdellis @bibliotechy nvm. I got it. Making the changes now.

[2015-12-09 16:19] #202 closed

[2015-12-09 16:51] sdellis commented on #196
Ok, there are access control headers that are preventing the sheetsu
version from working and I am getting a bunch of javascript errors in the
other one.... I emailed you the link to the spreadsheet.

On Wed, Dec 9, 2015 at 11:01 AM, Luke Aeschleman notifications@github.com
wrote:

[2015-12-09 17:21] bibliotechy commented on #202
@roastduckalamode++

[2015-12-09 17:33] queryluke commented on #196
I've imported into [issue-196](https://github.com/code4lib/2016.code4lib.org/tree/issue-196)

This isn't how I have planned to do the final presentation of talks. We'll need the speaker data, time and dates for that. But this works in the interim. Like the workshops (in /workshops) the list is found at /schedules

Not sure how you want to handle the architecture. My thoughts
- Remove schedule.html

[2015-12-09 17:44] sdellis commented on #196
Sorry for this lacking context, @roastduckalamode .  The final selection has not been made for Talks. Since we are going live with registration tomorrow, and we would like to give folks (especially noobies) an  idea of the content, we want to list the election results.  This is not the way the final talks will be presented, but we need to list them in order of vote count so that people have an ide

[2015-12-09 17:56] queryluke commented on #196
@sdellis will do. Do you want me to show the vote count? And/or order the proposals by vote count?

[2015-12-09 18:12] sdellis commented on #196
Yes, and yes. You could make the vote count fairly large on the card/div and perhaps even highlight the top 10 since those are definitely accepted.  I will add the text at the top of the screen explaining that this is not the final selection list, but will give folks a sense of the content of the talks.

[2015-12-09 18:20] queryluke commented on #196
@sdellis done and sort of done. The top 10 have a class .top-10, but I wasn't sure how best to highlight these. All you should need to do is play around with the css. I tried a blue highlight at first but the red link text seemed a bit wonky.

the link is /talks

I've also updated the schedule page. The Vote buttons now say "View Results" and link to /talks and /workshops respectively.

[2016-01-08 16:32] sdellis opened #225 "Contributor Level Sponsor Logos Illegible"
See UNC and UT Austin in particular...
http://2016.code4lib.org/sponsors.html

This uses a Bootstrap responsive layout.  Perhaps a Flexbox approach (like we use on the workshops page) would give us more control? Should we boost logos across the board?

Can someone from the website committee take a look and try to resolve? @roastduckalamode @cdmo @starsplatter @phette23 We're up to our eyeballs on

[2016-01-08 20:55] cdmo commented on #225
As someone who had to create a logo page in the past, I know these are a pain to get right.

Seems like there's a hierarchy in terms of size of logo in proportion to the size of donation. So, for the entities that give less but have complicated logos, I think that it's just going to be the best you can do without getting another logo or making the logos bigger and bucking the size restraints.. The

[2016-01-08 22:19] queryluke commented on #225
I'm in a bit of a whirlwind myself, I started a new job on Monday, and I've got a site migration scheduled from my old job this Sunday, which I'll need to be monitoring the next few weeks. I'm still committed to working on the schedule pages once the line-up is set. If I do happen to be twiddling my thumbs, I'll take a look at this.

[2016-01-08 23:45] sdellis commented on #225
Ha! Congrats @roastduckalamode ! You'll have to fill us in. @cdmo Yes, I tend to agree, but this is really all Contributor level gets for their $250-$999, so legibility would be nice.  I'm going to look into display:table (works in IE8/9) instead of the responsive grid.  Could always go old school and lay it out in a giant png and image map it!  hand_massaged_logos--

[2016-01-11 21:19] sdellis opened #227 "add rough schedule for newbies not familiar with conventions"
Add rough schedule of Preconf day, newbie dinner, reception, etc for newbies not familiar with format.

From a frustrated attendee:

[2016-01-12 16:26] #227 closed

[2016-01-12 16:26] sdellis commented on #225
Done.

[2016-01-12 16:26] #225 closed

[2016-01-13 15:07] laurengala opened #230 "Set up 2016 t-shirt logo vote"
Hi @cbeer,
Can you please set up voting for the 2016 t-shirt logo design? @cmh2166 created jpegs of the submissions, which I think @bibliotechy plans to display on the 2016 website for voting purposes. If possible, can the vote begin on January 20 and close on the 27?
The four jpegs and a spreadsheet with info for the Die-bold-a-tron are in the Tshirt Committee's Google folder called "2016 Submiss

[2016-01-13 15:13] cbeer commented on #230
Could you link me to the folder, and/or attach the images to this ticket?

[2016-01-13 15:19] ghost commented on #230
Done!

[2016-01-13 21:55] queryluke commented on #199
@sdellis Are presentation selections final? I can whip up a form and send it to the necessary committees so we can start building out the final speaker / schedule pages.

[2016-01-13 22:05] sdellis commented on #199
@roastduckalamode they became final this morning and I asked the Program Committee folks to ask for an image and bio for speakers.  I forgot about these other data points. I'm forwarding them this issue so they can include them.

[2016-01-13 23:51] queryluke commented on #199
@sdellis Will the programming committee be gathering the data for the preconference workshops as well? If not, will you ask them to share their form with the preconference committee.

[2016-01-15 21:13] cbeer commented on #230
![banerjee_scott](https://cloud.githubusercontent.com/assets/111218/12365604/b425eb44-bb8a-11e5-8484-d7939f4fc377.jpg)
![ellis](https://cloud.githubusercontent.com/assets/111218/12365603/b424a90a-bb8a-11e5-9f5d-7febde6ae9f1.jpg)
![markman](https://cloud.githubusercontent.com/assets/111218/12365605/b42769b0-bb8a-11e5-92b5-657b57c7b495.jpg)
![zoechao](https://cloud.githubusercontent.com/assets/11121

[2016-01-15 21:22] cbeer commented on #230
http://vote.code4lib.org/election/40

[2016-01-15 21:22] #230 closed

[2016-01-19 02:19] bibliotechy commented on #198
this is going straight to the voting app, so closing this.

[2016-01-19 02:19] #198 closed

[2016-01-19 02:20] bibliotechy commented on #199
@roastduckalamode @sdellis  do you want info from the keynotes in the same format, or do we have a different idea for that?

[2016-01-19 15:57] queryluke commented on #199
@bibliotechy The info seems fine. I've sent a form to the program and workshop committee. Do you need me to send you one for keynotes?

[2016-01-19 16:01] bibliotechy commented on #199
Sure, whatever is going to be easiest for you to deal with.

On Tue, Jan 19, 2016, 10:57 AM Luke Aeschleman notifications@github.com
wrote:

[2016-01-19 17:07] queryluke commented on #199
@bibliotechy just sent you the form.

[2016-01-20 15:48] bibliotechy commented on #199
@roastduckalamode thanks. I'm just going to fill them in myself since I've requested the data from the speakers directly.

[2016-01-26 17:56] laurengala opened #238 "Extend t-shirt logo election to January 31"
Hi @cbeer ,
Can you please keep the t-shirt logo election open until January 31, 5pm PT? Originally it was slated to  close tomorrow. Sorry for the last minute request!
~L

[2016-01-26 18:37] cbeer commented on #238
Extended.

[2016-01-26 18:37] #238 closed

[2016-01-27 15:07] hackmastera opened #239 "problem with filtered results when using browser 'back' button"
It's a small bug and fine to wontfix but in case reporting it jogs something in someone's head, here's where happens (Using chrome):

* View the workshops page.
* limit by location.
* view details for one workshop
* use 'back' button
** expected: return to filtered results
** actual: return to all results
** given above, expected: location drop-down should say 'all locations'
** actual: location d

[2016-01-27 15:39] queryluke commented on #239
I'll be working on the schedule pages this weekend, so I'll take a look at this as well.

[2016-01-27 17:26] sdellis commented on #239
@roastduckalamode I would recommend simply using the Bootstrap Modal (already available) to show the "detail" workshop view. Otherwise you'd have to deal with the History API, cookies, or get into the weeds with a mini single-page webapp.  The only issue then would be if someone wanted to link directly to the detail view.  This could be handled with anchor tags (and a javascript behavior triggered

[2016-01-27 17:32] queryluke commented on #239
@sdellis @hackmastera,

Seems like the disconnect isn't that we need to return to a filtered set, but that when you DO return to the workshops page, a filter is already selected. So the quickest fix might be to add "selected" to the All Locations <option>. I'll try that first.

Luke

[2016-01-27 20:21] hackartisan commented on #239
@roastduckalamode That seems totally fine. Definitely go with the simplest fix possible!

[2016-01-28 18:09] queryluke commented on #239
Turned out to be a super simple fix, now the back button does filter results.

[2016-01-28 18:09] #239 closed

[2016-01-28 18:10] #199 closed

[2016-01-28 18:10] #195 closed

[2016-01-28 18:10] #196 closed

[2016-01-28 18:32] roastduckalamode opened #242 "Publish schedule & Speakers"
Work on this has started in [final-schedule-speakers](https://github.com/code4lib/2016.code4lib.org/tree/final-schedule-speakers)

I'll be sort of brain dumping information here:

## Important Files
(they're protected. message me if you need access)
1. [Results from speaker bios](https://drive.google.com/open?id=1KZjkOXYOybheOPC7h5dFLYfNHdiV29ENUK_hhpwOyis) (highlighted rows = all speaker data is

[2016-01-28 19:45] sdellis commented on #242
I don't think we discussed Question #2 at all yet, but I say no.  This is usually a giant pad of paper or whiteboard in the physical space for sign ups.  No need to complicate it with adding web pages.

[2016-01-29 01:52] queryluke commented on #242
On this branch, schedule.html will be replaced with /schedule. It's essentially the same content with the following changes:
1. Past keynotes have been removed
2. links have been added to the individual days

[2016-01-29 01:53] queryluke commented on #242
I've updated the top navigation. In the navbar, schedule is now a dropdown with Day 1, Day 2, Day 3, Workshops, Overview.

Footer "schedule" link, goes to "Overview", i.e. the new schedule page.

[2016-01-30 02:29] queryluke commented on #242
I updated the speaker page. Any design oriented people should feel free to take liberties with it.

[2016-01-30 04:59] sdellis commented on #242
Great first draft @roastduckalamode .  Thank you!

A few things that I will try to get to this weekend (but feel free to beat me to it!):
1. Overview and Workshop should probably be listed above the Days in the drop down
2. I don't like that you have to hover over the speaker image to get the name... to answer your question, yes remove the animation and display speaker name next to image.
3. I wan

[2016-01-30 12:37] queryluke commented on #242
@sdellis Silly, silly me. I forgot to commit the changes. They're up there now. I'll get the changes you mentioned done today so you can focus on minor edits tomorrow.

RE: 4 (and purely for my enlightenment) I'm using the default bootstrap col- (which use float). But you've mentioned before to use flex-box. I'm no css expert, so what's the benefit?

I'll be available tonight or tomorrow for a han

[2016-01-30 16:18] queryluke commented on #242
@sdellis From your suggestions, 1,2,3,6 are done. And I've added more speakers.

Note about 6: If the talk doesn't have any speaker matches, it renders whatever text is in the speakers column of the google sheet. This reflects the original value enter from the talk proposal. You'll notice there is no anchor link (cause there is no one to link to). I spoke with David and he feels this will suffice

[2016-01-30 18:19] sdellis commented on #242
Awesome. I'm at a conference all day today, but I will def. look at the flexbox issues after my 8 year old's birthday party tomorrow!

[2016-01-30 18:35] queryluke commented on #242
:birthday:

[2016-01-31 22:25] queryluke commented on #242
besides the flexbox on the presentation pages, we should be gtg. I'll continue to re-import the speakers every day.

[2016-01-31 22:31] sdellis commented on #242
Thanks @roastduckalamode I was just getting to this... (been a long weekend). Looking now...

[2016-01-31 23:02] queryluke commented on #242
@sdellis fyi, I did learn how to use flexbox (see the speakers page, it's all flexy). But I didn't get around to the presentation pages. I can get to those this week, but not before the launch tomorrow.

[2016-02-01 00:06] sdellis commented on #242
@roastduckalamode ok, take a look at my most recent commit on this branch.  I cleaned up the design.  I really like what you did with the speakers page (love the 404 images!).  I didn't think flexbox was actually necessary in the presentation pages.  I just "boxed it up" to make it pop.  I just realized the workshops pages need the same attention... will get to that after dinner. ;)

However, one

[2016-02-01 00:15] queryluke commented on #242
@sdellis sure thing. The groupings came from [this document](https://drive.google.com/open?id=1Gl-tunWoV1scwztejM83nynyPpfBJEYaX4Xz_8vhstE) that was sent out to the speakers. I was operating under the impression that it was the final document.

Are you saying you want the specific time on the individual talk pages? or on the schedule page, beside each talk (within a group), you want the time. The

[2016-02-01 00:45] queryluke commented on #242
@sdellis just pulled down your commit. Love the "pop" :+1:

I removed the "2016". And mirrored the workshop info as you had it for the talks, but the location wrapping oddly. Don't know if you want an additional section or to delineate room in a different way.

I also realized, I think you meant on the individual talk pages, not the schedule page. So I'm going to grab some dinner myself then start

[2016-02-01 01:51] queryluke commented on #242
@sdellis Okiedok. I've got timestamps for all the talks loaded. I used timestamps because we can reformat the time however with simple changes to the code. For the presentation pages, I just put the start time. Seemed to make sense with the length right below. But if you want to mess around with what shows up in that section, the start time is `page.startTime` and end is `page.endTime`

You can re

[2016-02-01 01:56] queryluke commented on #242
Oh and the speakers who had their emails listed opted for that on the form. Should we put it back in? It can always be done later. Food for thought.

FYI - I am done for the night. Early day tomorrow. But leave whatever comments or fixes and I'll get to them in the morning. Hopefully we can publish by the afternoon.

[2016-02-01 02:12] sdellis commented on #242
Awesome!  It all looks great and thanks for making those changes.  We also need to get the keynote speakers and reception info in.  I will try to get that done tonight. I made a minor tweak to the footer that I will bundle with it.

Other than that, what else needs to happen before publishing?  Are you still waiting on stuff from Dave/Programming Comittee?

[2016-02-01 02:19] queryluke commented on #242
I'm not waiting on anything from Dave. When we talked on Thursday, all he wanted was a schedule that reflected the one in the comment above w/ speaker names. So I think we've gone above and beyond.

Sorry about the keynotes. I didn't have any of their info. I think @bibliotechy said he would use the speaker form to "upload" their info. If you want to hard code it tonight, I'll program it in later.

[2016-02-01 14:42] queryluke commented on #242
@sdellis @bibliotechy I've added the keynote section. I used a 404 image for kate and grabbed a snippet for her bio from the code4lib wiki. That should suffice until we get her info?

Anything else need to be done?

[2016-02-01 14:45] hackmastera opened #244 "Change workshop locations"
Workshops have been shuffled to final locations and the site needs to reflect new locations.

ALSO: We have changed the names of two rooms in Franklin Hall. 'Side - East' it turns out is called 'Fels Room' and 'Side - West' is called 'Presidents Room'

@roastduckalamode the spreadsheet in use is called "Preconf room assignments - Main Working Document" I am nearly positive this is the one we were

[2016-02-01 14:56] queryluke commented on #244
@hackmastera done!

[2016-02-01 14:56] sdellis commented on #244
@hackmastera do you have a floor plan?  That would certainly help people find their way around.

[2016-02-01 14:56] sdellis commented on #244
(Even a "back of a napkin sketch" would probably help.)

[2016-02-01 14:59] hackartisan commented on #244
@roastduckalamode sweet, thanks!!!

@sdellis "talk to website folks about maps" is close behind on my to-do list :) Will create a separate issue!

[2016-02-01 15:00] sdellis commented on #242
@roastduckalamode I don't like the idea of making an announcement that includes the Keynotes without getting their up-to-date info.  I propose we hold off on the announcement until we hear back from Kate (but let her know we want to move).  There's no reason to rush this to the expense of having a "404" for a keynote.

[2016-02-01 15:04] hackartisan commented on #244
Oh, I think we can remove the "Please note: all locations are subject to change through the close of registration" -- barring the unforeseen, these are final locations.

[2016-02-01 15:09] queryluke commented on #244
@hackmastera I'll rope that change into the schedule pages that we're publishing later today.

[2016-02-01 15:15] hackartisan commented on #244
Sounds good; thanks!!

[2016-02-01 18:45] bibliotechy commented on #242
I let her know we needed it, but haven't heard anything yet.

On Mon, Feb 1, 2016 at 10:00 AM Shaun Ellis notifications@github.com
wrote:

[2016-02-02 17:29] cmharlow commented on #244
Sorry, is this still being worked on (so explaining that the Workshops Schedule page is blank)? http://2016.code4lib.org/workshops/

[2016-02-02 17:33] bibliotechy commented on #244
We are currently experiencing technical difficulties with the github site. :(

[2016-02-02 17:35] cmharlow commented on #244
Good to know, will alert those asking. Thanks.

From:  Chad Nelson notifications@github.com
Reply-To:  "code4lib/2016.code4lib.org" reply@reply.github.com
Date:  Tuesday, February 2, 2016 at 12:33 PM
To:  "code4lib/2016.code4lib.org" 2016.code4lib.org@noreply.github.com
Cc:  Christina Harlow cmharlow@gmail.com
Subject:  Re: [2016.code4lib.org] Change workshop locations (#244)

We are currently exp

[2016-02-02 17:55] queryluke commented on #244
Well that happened. Workshops should be back up and running

[2016-02-02 17:55] #244 closed

[2016-02-02 23:36] roastduckalamode opened #257 "Javascript scroll is offsetting oddly"

[2016-02-02 23:37] roastduckalamode opened #258 "Point workshop leaders to speaker_final.yml when we get their info"

[2016-02-02 23:39] roastduckalamode opened #259 "Order speakers alphabetically?"
It might be easiest to do this on this final Sheets final, could get overly complex trying to do it with jekyll

[2016-02-02 23:40] roastduckalamode opened #260 "store all speaker images on the site"
the remote files take longer to load and some don't load

[2016-02-03 00:10] roastduckalamode opened #263 "speaker names, times and date on talks page"

[2016-02-03 00:11] roastduckalamode opened #264 "day 1,2,3 links on top and bottom of day 1,2,3 of schedule pages"

[2016-02-03 00:11] #242 closed

[2016-02-05 03:10] #260 closed

[2016-02-05 03:33] #258 closed

[2016-02-08 16:18] cmh2166 opened #279 "add times to workshops info"
Would it be possible to add more granular time information to the Workshops/Preconferences information? Whether it is added to the schedule overview or to each session (instead of just AM/PM), doesn't matter - whatever is easiest and more visible.

AM = 9-12, PM = 1:30-4:30, Full day is 9-4:30 with lunch break

Thanks!

[2016-02-08 20:10] hackmastera opened #280 "Canceled workshop"
This workshop has been canceled: http://2016.code4lib.org/workshops/Digitization-Project-Starter-What-you-need-to-know-to-plan-that-OCR-project

How should we proceed? Mark it 'canceled' prominently somehow? Just remove it?

[2016-02-08 21:18] queryluke commented on #280
Removing it would be easiest. I'll do that tonight when I import new speakers and knock out #279

[2016-02-09 01:40] #280 closed

[2016-02-09 01:43] queryluke commented on #279
@sdellis @hackmastera I added the times. The full day workshop times wrap a bit odd because I have the link "(w/ lunch break)".

See:
http://2016.code4lib.org/workshops/Code4Arc

I can remove the line or add some css to try and make that text smaller. Thoughts?

Oh, and I just realized, @hackmastera, did you mean you wanted the information on the [workshop page](http://2016.code4lib.org/workshops/

[2016-02-09 01:52] cmharlow commented on #279
Doesn't matter re:odd wrap to me - we can remove lunch break if you like, just wanted to get those times up there as I've gotten a number of questions about it re:folks planning travel around preconf times.

Would also be helpful to get the times listed in the Workshop text here, if possible: http://2016.code4lib.org/schedule/ Can make PR for that page if desired, but wanted to leave content/desig

[2016-02-16 14:32] hackmastera opened #289 "indication that workshops are full?"
We have a couple of full workshops and the planning committee wonders if there is a way to indicate this on the website. They are Both Islandora workshops and the Catmandu workshop.

[2016-02-16 16:34] hackmastera opened #290 "Add taxi rate info to 'venue' page"
http://www.phl.org/passengerinfo/transportationservices/Pages/taxi.aspx

[2016-02-16 16:36] hackmastera opened #291 "precon locations map"
I made this up; see if it works for the website?

https://www.google.com/maps/d/edit?mid=z6mAEboBiRlo.kUgjHJeiYJIk

[2016-02-16 16:40] hackmastera opened #292 "precon - floor plans"
Here are some CHF floor plans

http://www.chemheritage.org/visit/conference-center-rental/floor-plans.aspx

It may be better to post 0 floor plans or floor plans for all 3 locations, rather than just these.

[2016-02-16 16:50] hackartisan commented on #292
Here's a hotel floor plan that I grabbed out of the PDF on their site; maybe one of you can do a better job if needed.

preconferences will be in bromley-claypoole (2/3) and Cook (9)

![floorplans_166](https://cloud.githubusercontent.com/assets/845363/13083539/817a50d6-d4a3-11e5-8083-2ed2ace15fd7.png)

http://www.starwoodhotels.com/sheraton/property/meetings/stacked_map.html?propertyID=166&buildin

[2016-02-16 16:52] hackartisan commented on #292
There's no floor plan for APS's Franklin Hall but it's very straightforward - one front door to a hallway with a room on either side and one straight ahead.

[2016-02-16 18:56] hackmastera opened #294 "Add shuttle info to 'venue' page"
This is going to be a much better option than the regional rail currently listed on the website, since regional rail will require a transfer to the subway and then a walk down to the hotel.

According to the hotel:

We work with a shuttle service called Lady Liberty, telephone number 215-724-8888. I know from the airport at least it’s $10.00 per person cash or credit. There are kiosks at baggage c

[2016-02-17 00:13] queryluke commented on #291
@hackmastera @sdellis @bibliotechy

Thoughts on how to handle these? Some options:

We can link directly into google maps, but this wouldn't help with the floor plans.

We could make a workshop location page (all 3 locations on one page), with embedded maps and floor plans, using anchor links to jump between the 3 locations. Not indicating the different rooms.

We could make a page for each locati

[2016-02-17 00:59] queryluke commented on #279
I added the times to the workshop index page

[2016-02-17 00:59] #279 closed

[2016-02-17 01:04] queryluke commented on #289
Added text underneath title that says "This workshop is full"

[2016-02-17 01:04] #289 closed

[2016-02-17 01:04] queryluke commented on #290
merged this

[2016-02-17 01:04] #290 closed

[2016-02-17 01:55] #294 closed

[2016-02-18 20:36] hackartisan commented on #291
I can make individual ones if you like. I don't have a strong preference on how this is done actually. :/ whatever is easiest for y'all?

[2016-02-19 13:25] queryluke commented on #292
@hackmastera do you know which room will be which? Pres, Fel, Large Hall (left, right, straight)?

[2016-02-19 14:17] queryluke commented on #291
@hackmastera I've made a new branch called workshop locations. Clicking a building name will open in google maps. Clicking a room will open a modal dialog with the floor plan and some brief instructions. Waiting to hear back about the Franklin rooms (left or right on presidents / fels room). then I can adjust that image and pull

[2016-02-22 14:37] hackartisan commented on #292
Fels Room is on the East side (right); Presidents Room is on the West (left). Large hall is north (straight ahead).

[2016-02-22 14:37] hackartisan commented on #291
Sounds great; thanks so much

[2016-02-22 15:10] #292 closed

[2016-02-22 15:11] #291 closed

[2016-02-25 00:47] sdellis opened #308 "Create Link From Newcomer Dinner on Overview Schedule to Newcomer Dinner signup page"
Link: http://wiki.code4lib.org/2016_Social_Activities

[2016-02-25 00:47] sdellis commented on #308
https://docs.google.com/document/d/1TYZgZynp0e2q1Mqof_xMH1b-QbqOSmowhI4ms22LA8A/edit#heading=h.qvrpxlt089gj

[2016-02-25 19:52] #308 closed

[2016-03-02 13:09] cdmo opened #324 "parking price is $34 not $43"

[2016-03-02 15:10] bibliotechy opened #326 "Add Independence pass to travel section"
Can be bought on the train from the airport and would be good the entire day.
http://www.septa.org/fares/pass/independence.html

[2016-03-02 16:22] #324 closed

[2016-03-02 16:42] sdellis opened #327 "Markdown is not being rendered for Workshops"
@roastduckalamode Have you noticed this?  Looking into it now.

[2016-03-02 17:47] queryluke commented on #327
@sdellis It's the file extension. It's need to be .md

[2016-03-02 18:26] sdellis commented on #327
Duh! Thank you.  I will fix these and get them in there.

[2016-03-02 19:22] #327 closed

[2016-03-03 19:01] dlacy opened #330 "Break start/stop times need to be updated"
We played with the breaks a little to make room for announcements and raffles. The final schedule is here:

https://docs.google.com/document/d/1T88F-qSmKqcJ3oSor6a10XKXDfMPE6rV4eJ8gIrjDXs/edit

[2016-03-03 21:22] sdellis commented on #330
I will update this.

[2016-03-03 21:28] queryluke commented on #330
Let me know if you need help. I'll be available after 7 tonight

On Thu, Mar 3, 2016, 4:22 PM Shaun Ellis notifications@github.com wrote:

[2016-03-03 22:10] sdellis commented on #330
Ok, I was actually going to post menus and split up the venues (adding floorplans, etc), so @roastduckalamode that would be awesome. I have to go pick up my kids and make them some dinner... but will be online later tonight.

I think the blue print on the schedule is for internal use only, @dlacy ?  Although it would be nice to say "Giveaways" or "Door Prizes" instead of "Housekeeping" as a title

[2016-03-03 22:24] dlacy commented on #330
@roastduckalamode @sdellis
Ignore all details for announcements and breaks, just put "Break" or "Announcements" where appropriate. You can also ignore all of the "Pre-Break Announcement" declarations. Those are for internal use only. The "Pre-break announcements" are quickies, so that's why they don't take any time.

[2016-03-04 01:29] bibliotechy commented on #330
@sdellis @roastduckalamode if there are discreet things I could work on, let me know. I'm free tonight

[2016-03-04 01:51] bibliotechy commented on #264
@roastduckalamode mind if I claim this?

[2016-03-04 02:04] queryluke commented on #264
Fine by me.

On Thu, Mar 3, 2016, 8:51 PM Chad Nelson notifications@github.com wrote:

[2016-03-04 02:06] queryluke commented on #330
Sorry guys. I'll have to get to this tomorrow morning. Just got out of
urgent care with a torn ligament in my ankle.

On Thu, Mar 3, 2016, 8:29 PM Chad Nelson notifications@github.com wrote:

[2016-03-04 02:18] bibliotechy commented on #330
@roastduckalamode oh noes. :crying_cat_face:

[2016-03-04 14:01] #264 closed

[2016-03-04 14:13] queryluke commented on #330
finished this up. I left everything as annoucements. If you want to change the titles to giveaways where appropriate, it's just a matter of editing the _data/schedule.yml file.

[2016-03-04 14:13] #330 closed

[2016-03-04 14:13] #259 closed

[2016-03-04 14:14] dlacy commented on #330
I like "Announcements".

[2016-03-04 14:44] hackmastera opened #337 "Add to hotel page that in-room wifi will be free for guests in the code4lib block"

[2016-03-07 16:00] #337 closed

[2016-03-07 22:01] #326 closed

[2016-03-09 01:32] jongibson opened #362 "Sometimes incorrect photos on IOS Safari on talk pages"
Example:
http://2016.code4lib.org/Ever-to-Excel-Towards-an-Apologetics-of-the-Spreadsheet-On-and-Off-the-Web
shows a picture that is clearly not Mark A. Matienzo.

This only seems to be on IOS Safari, fine on IOS Chrome, fine on any browser on a laptop.  It is not universal as some links (for example, all the photos in Group 1) are correct.

In fact, I'm not sure it is a problem anywhere but in Gr

[2016-03-09 18:28] cmh2166 opened #369 "add Erin Fahy as leader of Railsbridge workshop"
Could you add Erin Fahy as a speaker of the Railsbridge preconference? She stepped in for Carolyn, who couldn't attend/lead. Erin needs this information published on the site for work purposes (documentation of her involvement).

I filled out a preliminary speaker form for her as well.

Thanks!

[2016-03-09 19:29] #369 closed

[2016-03-11 19:57] infoseek1 commented on #263
Including lightning talks :)

[2016-08-18 14:33] joshuago78 opened #391 "2017 site"
I am wondering how to go about reusing this repo for the 2017 conference. I believe Github pages will only work for one site per project, so if we want to keep the 2016 site running, then I believe what I should do is clone this repo and set the remote origin to a new repo at https://github.com/code4lib/2017.code4lib.org.git

- Is this correct?
  - If so, can someone add me as a member of code4lib

[2016-08-18 15:58] bibliotechy commented on #391
@joshuago78 I've just sent you an invite to the code4lib organization.

A new repo based on this repo does seem like a reasonable strategy.

[2016-08-18 16:08] joshuago78 commented on #391
Thank you @bibliotechy

[2016-08-18 16:08] #391 closed

[2016-08-19 14:14] queryluke commented on #391
@joshuago78 if need a rundown or have any questions about the code, let me know. There are some additional scripts that I wrote to extract Google Form data into yaml files and jekyll templates. It may be a bit stale, but I can update as necessary.

[2016-08-20 14:07] joshuago78 commented on #391
@queryluke an overview would be most appreciated. Perhaps we can have a phone call next week. I'm still in the process of putting together a website working group. If you or anyone else on last year's team would like to join in, please let me know.

[2016-08-20 18:28] queryluke commented on #391
@joshuago78 I'm on vacation next week, but I'd be happy to re-enlist in the website working group.

[2016-08-22 04:41] phette23 commented on #391
I'd be willing to help out as well.

[2016-08-22 13:28] sdellis commented on #391
Just returning from vacation today, so sorry for the delayed response... I'd be happy to help as well.

[2016-08-25 19:06] sdellis commented on #391
FYI - the newly released [Jekyll Admin](https://jekyll.github.io/jekyll-admin/) plugin could come in handy... tested it out locally and it looks cool.  One issue we had last year was that people couldn't update their own content without making pull requests.  This might simplify things, but not sure how it would work with ghpages hosting.

[2016-09-01 15:39] queryluke commented on #391
@joshuago78 I saw people are signing up for the [Website Working Group on the wiki](http://wiki.code4lib.org/2017_Conference_Committees). Do you want us to sign up there?

[2016-09-01 17:38] joshuago78 commented on #391
Yes that would be great. Then I will call a meeting for us to outline some tasks.